* {
  box-sizing: border-box;
}

#header {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  text-shadow: 25px;
  color: blueviolet;
}

#done {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
}

#todoForm {
  padding: 10px;
}

#todoForm input[type="text"]:nth-child(1) {
  width: 250px;
  border-radius: 25px;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  outline: none;
  transition: .3 all ease;
}

#todoForm input:focus {
  border: 1px solid blueviolet !important;
  width: 25% !important;
}

#submitle{
  border-radius: 5px;
  text-align: center;
  color: rgb(214, 115, 115);
  height: 28px;

  
}


#myUl {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

li {
  
  list-style: none;
  color: wheat;
  position: center;
  text-align: center;
  border-radius: 15px;
  cursor: pointer;
  padding: 15px;
  background-color: rgb(154, 62, 240);
  
}

#center {
  text-align: center;
  border-radius: 25px;
}

#center-inner {
  border-radius: 25px;
}

